<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
"http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>items</key>
<array>
<dict>
<key>assets</key>
<array>
<dict>
<key>kind</key>
<string>software-package</string>
<key>url</key>
<!--https://你的域名.com/文件名.ipa-->
<string>http://hp5688.com/installapp/LotteryTicket.ipa</string>
</dict>
<dict>
<key>kind</key>
<string>display-image</string>
<key>needs-shine</key>
<true/>
<key>url</key>
<!--icon地址（114*114)-->
<string>http://hp5688.com/installapp/114.png</string>
</dict>
<dict>
<key>kind</key>
<string>full-size-image</string>
<key>needs-shine</key>
<true/>
<key>url</key>
<!--icon地址（512*512）-->
<string>http://hp5688.com/installapp/512.png</string>
</dict>
</array><key>metadata</key>
<dict>
<key>bundle-identifier</key>
<!--你的ipa的包名-->
<string>com.block.Lottery</string>
<key>bundle-version</key>
<!--版本号-->
<string>1.1</string>
<key>kind</key>
<string>software</string>
<key>subtitle</key>
<!--小标题-->
<string>环球娱乐</string>
<key>title</key>
<!--标题-->
<string>环球娱乐</string>
</dict>
</dict>
</array>
</dict>
</plist>
